# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
Scripts/
Lib/

# Alembic
src/alembic.ini
src/alembic/versions/

# PyCharm specific
.idea/
*.iml
*.ipr
*.iws
out/